@font-face {
  font-family: "PublicSans-Regular";
  src: url(/assets/fonts/PublicSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PublicSans-Bold";
  src: url(/assets/fonts/PublicSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DMSerifDisplay-Regular";
  src: url(/assets/fonts/DMSerifDisplay-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono-Regular";
  src: url(/assets/fonts/RobotoMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
