$main-font: "PublicSans-Regular";
$secondary-font: "PublicSans-Bold";
$main-font-color: #6c8294;
$title-font: "DMSerifDisplay-Regular";
$code-font: "RobotoMono-Regular";
$main-title-size: 72px;
$secondary-title-size: 48px;
$main-color: #36536b;
$secondary-color: #1b262f;
$button-color: #ba4270;
$button-hover-color: #da6d97;
